In [3]:
# pandasからSeries, DataFrameの読み込み
import pandas as pd
from pandas import Series, DataFrame

# 初期化
data = {'City':['SF', 'LA', 'NYC'], 'Population':[837000, 3880000, 8400000]}
df = DataFrame(data)

In [4]:
df

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000

In [16]:
df.iloc[0:2,1]

0     837000
1    3880000
Name: Population, dtype: int64

In [17]:
df

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000

In [18]:
y = df['City'].values

In [19]:
y

array(['SF', 'LA', 'NYC'], dtype=object)

In [21]:
import numpy as np

# iris-setosaに合ったものを-1, それ以外を1に置き換える
y = np.where(y == 'SF', -1, 1)

In [22]:
y

array([-1,  1,  1])

In [23]:
from matplotlib import pyplot as plt
import seaborn as sns
sns.set()
# グラフをjupyter notebook内に表示
%matplotlib inline

In [25]:
arr = np.array([[1,2], [3,4]])

In [26]:
plt.scatter(arr[:2, 0], arr[:2,1], color='red', marker='o', label = 'setosa')

NameError: name 'X' is not defined